* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-family: 'Varela Round', sans-serif; */
    font-size: 100%;
    vertical-align: bottom;
    text-decoration: none;
    box-sizing: border-box;

}
.container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
}

.aside{
    background-color: #f2f3f7;
    flex: 25%;
    height: 60rem;
    overflow-y: scroll;
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
}

.description{
    flex: 75%;
    height: 100%;
}

.name{
    font-size: 35px;
    padding: 10px;
}

.title{
    font-size: 16px;
    color: dodgerblue;
}

.location{
    font-size: 16px;
    padding: 10px;

}

.links ul{
    list-style: none;
}

.links li{
    padding: 10px;
}

.links li a:hover{
    border-bottom: 2px solid dodgerblue;
}

.link{
    color:dodgerblue;
}

.aside p {
    color: dodgerblue;
    padding: 20px;

}

.social-links{
    list-style: none;
}

.social-links li{
    display: inline-block;
    padding: 20px;
    color: dodgerblue;
}

.social-links a{
    color: dodgerblue;
}

section{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.about{
    position:absolute;
    opacity: 0;
}

.works{
    position:absolute;
    opacity: 0;
}

.pre-title{
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

.pre-heading{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
}

.pre-desc {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.skills ul{
    list-style: none;
}

.skills li{
    display: inline-block;
    color: dodgerblue;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item{
    text-align: center;
    margin: 5px;

}

.project-item a{
    color: dodgerblue;
}

.project-item img{
    width: 215px;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 786px) {
    .aside{
        display: none;
    }
    .aside-show{
        transition: all 0.5s;
        display: block;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        height: 10%;
        margin: 10px;
    }
    .hamburger div {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px;
        transition: 0.4s;
    }
    .change{
        position: absolute;
        left: 180px;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .change div:nth-child(1) {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change div:nth-child(2){
        opacity: 0;
    }
    .change div:nth-child(3){
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
    }
    .project-item{
        width: 145px;
        height: 100px;
        text-align: center;
        margin: 15px;
    }
    .project-item img{
        width: 145px;
        height: 100px;
        object-fit: cover;
    }
    .pre-desc {
        font-size: 17px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

}

@media screen and (max-width:590px){
    
    .hamburger{
        display: none;
    }
    .aside{
        display: block;
        width: 100px;
    }
    .name{
        display: none;
    }
    .title{
        display: none;
    }
    .location{
        display: none;
    }
    .social-links li{
        display: block;
    }
    section{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }
    .pre-desc {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

}